.main-container {
    min-height: 80vh; /* Ocupa al menos toda la altura de la pantalla */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.text-container {
    display: block;
}
.text-container h1 {
    text-transform: uppercase;
    font-style: oblique;
}

.text-container p {
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.6;
    font-size: 1.1rem;
}

.main-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    margin-top: 1rem;
}

.sinopsis-container {
    width: 80%;
    padding: 2rem;

}