/* main.css */
/* estuctura visual de todo la pagina */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #111111;
  color: #fff;
  font-family: 'Montserrat', Arial, sans-serif;
}
main {
  flex: 1;
}

/* estructura visual del header y footer */
header, nav, footer {
  background-color: #1a1a1a;
  color: #fff;
}

/* estructura fisica del header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #1a1a1a;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* estructura fisica del nal (hijo del header), ul (hijo de nav) */
nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* estructura visual del texto de la nav */
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background 0.2s;
}

/* estructura visual del texto de la nav al pasar el mouse por encima */
nav ul li a:hover {
  background-color: #e50914;
  color: #fff;
}

p{
    color: #fff;
}
p strong {
    color: #7c020e;
}

h1, h2 {
    color: #e50914;
}
footer p {
  text-align: center;
}


/* --- Media Queries --- */
@media (max-width: 900px) {
  header {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }
  nav ul {
    gap: 1rem;
  }
}

@media (max-width: 700px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem 1rem;
  }
  nav ul {
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
  }
  main {
    padding: 0 0.5rem;
  }
}

@media (max-width: 500px) {
  html, body {
    font-size: 15px;
  }
  header {
    padding: 0.5rem;
  }
  header img {
    width: 120px;
  }
  
  nav ul {
    gap: 0.3rem;
  }
  nav ul li a:hover {
  background-color: unset;
}
}